# Виртуальное окружение
venv/
.venv/

# Файлы с секретами
.env
app/.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы macOS и настройки IDE (PyCharm / VS Code)
.DS_Store
.idea/
.vscode/